.container-fluid {
  padding: 20px;
  text-align: center;
}

.header {
  background-color: rgb(0, 170, 226);
  border: solid, gray;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
.col-style {
  padding: 5px;
  margin: 5px;
}

.card {
  text-align: center;
}

.green-background {
  background-color: rgb(150, 248, 150);
}

.blue-background {
  background-color: rgb(43, 201, 253);
}

.footer {
  position: bottom, fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(0, 170, 226);
  color: white;
  text-align: center;
}

#js-hidden {
  display: none;
}
#operators-hidden {
  display: none;
}
#variables-hidden {
  display: none;
}
#variableNamingConventions-hidden {
  display: none;
}
#functions-hidden {
  display: none;
}
#methods-hidden {
  display: none;
}
#arguments-hidden {
  display: none;
}
#parameters-hidden {
  display: none;
}
#return-hidden {
  display: none;
}
#chainingMethods-hidden {
  display: none;
}
#strings-hidden {
  display: none;
}
#booleans-hidden {
  display: none;
}
#undefined-hidden {
  display: none;
}
#nan-hidden {
  display: none;
}
#null-hidden {
  display: none;
}
#alert-hidden {
  display: none;
}
#comments-hidden {
  display: none;
}
#jquery-hidden {
  display: none;
}
#attributes-hidden {
  display: none;
}

#arrays-hidden {
  display: none;
}

#looping-hidden {
  display: none;
}

#prototype-hidden {
  display: none;
}

#collection-hidden {
  display: none;
}

#elements-hidden {
  display: none;
}

#pointers-hidden {
  display: none;
}

#callback-hidden {
  display: none;
}

#separation-hidden {
  display: none;
}

#business-hidden {
  display: none;
}

#ui-hidden {
  display: none;
}

#eventHandler-hidden {
  display: none;
}

#dom-hidden {
  display: none;
}

#branching-hidden {
  display: none;
}

#comparison-hidden {
  display: none;
}

#logicalOperators-hidden {
  display: none;
}

#rebase-hidden {
  display: none;
}

#index-hidden {
  display: none;
}

#oboe-hidden {
  display: none;
}

#destructiveArrays-hidden {
  display: none;
}

#arrayMethods-hidden {
  display: none;
}

#loopInitialization-hidden {
  display: none;
}

#loopCondition-hidden {
  display: none;
}

#loopFinalExpression-hidden {
  display: none;
}

#encapsulation-hidden {
  display: none;
}

#object-hidden {
  display: none;
}

#literalNotation-hidden {
  display: none;
}

#keyValuePair-hidden {
  display: none;
}

#dotNotation-hidden {
  display: none;
}

#bracketNotation-hidden {
  display: none;
}

#this-hidden {
  display: none;
}

#constructor-hidden {
  display: none;
}

#instance-hidden {
  display: none;
}

#proto-hidden {
  display: none;
}

#prototypalInheritance-hidden {
  display: none;
}

#enumerability-hidden {
  display: none;
}




/* ------------------------------ */

.body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.card {
  padding: 10px;
  text-align: left;
}

.clickable {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable:hover {
  text-decoration: underline;
}
.clickable1 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable3:hover {
  text-decoration: underline;
}

.clickable4 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable4:hover {
  text-decoration: underline;
}

.clickable5 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable5:hover {
  text-decoration: underline;
}

.clickable6 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable6:hover {
  text-decoration: underline;
}

.clickable7 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable7:hover {
  text-decoration: underline;
}

.clickable8 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable8:hover {
  text-decoration: underline;
}

.clickable9 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable9:hover {
  text-decoration: underline;
}

.clickable10 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable10:hover {
  text-decoration: underline;
}

.clickable11 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable11:hover {
  text-decoration: underline;
}

.clickable12 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable12:hover {
  text-decoration: underline;
}

.clickable13 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable13:hover {
  text-decoration: underline;
}

.clickable14 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable14:hover {
  text-decoration: underline;
}

.clickable15 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable15:hover {
  text-decoration: underline;
}

.clickable16 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable16:hover {
  text-decoration: underline;
}

.clickable17 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable17:hover {
  text-decoration: underline;
}

.clickable18 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable18:hover {
  text-decoration: underline;
}

.clickable19 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable19:hover {
  text-decoration: underline;
}

.clickable20 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable20:hover {
  text-decoration: underline;
}

.clickable21 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable21:hover {
  text-decoration: underline;
}

.clickable22 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable22:hover {
  text-decoration: underline;
}

.clickable23 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable23:hover {
  text-decoration: underline;
}

.clickable24 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable24:hover {
  text-decoration: underline;
}

.clickable25 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable25:hover {
  text-decoration: underline;
}

.clickable26 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable26:hover {
  text-decoration: underline;
}

.clickable27 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable27:hover {
  text-decoration: underline;
}

.clickable28 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable28:hover {
  text-decoration: underline;
}

.clickable29 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable29:hover {
  text-decoration: underline;
}

.clickable30 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable30:hover {
  text-decoration: underline;
}

.clickable31 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable31:hover {
  text-decoration: underline;
}

.clickable32 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable32:hover {
  text-decoration: underline;
}

.clickable33 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable33:hover {
  text-decoration: underline;
}

.clickable34 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable34:hover {
  text-decoration: underline;
}

.clickable35 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable35:hover {
  text-decoration: underline;
}

.clickable36 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable36:hover {
  text-decoration: underline;
}

.clickable37 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable37:hover {
  text-decoration: underline;
}

.clickable38 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable38:hover {
  text-decoration: underline;
}

.clickable39 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable39:hover {
  text-decoration: underline;
}

.clickable40 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable40:hover {
  text-decoration: underline;
}

.clickable41 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable41:hover {
  text-decoration: underline;
}

.clickable42 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable42:hover {
  text-decoration: underline;
}

.clickable43 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable43:hover {
  text-decoration: underline;
}

.clickable44 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable44:hover {
  text-decoration: underline;
}

.clickable45 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable45:hover {
  text-decoration: underline;
}

.clickable46 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable46:hover {
  text-decoration: underline;
}

.clickable47 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable47:hover {
  text-decoration: underline;
}

.clickable48 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable48:hover {
  text-decoration: underline;
}

.clickable49 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable49:hover {
  text-decoration: underline;
}

.clickable50 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable50:hover {
  text-decoration: underline;
}

.clickable51 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable51:hover {
  text-decoration: underline;
}

.clickable52 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable52:hover {
  text-decoration: underline;
}

.clickable53 {
  cursor: pointer;
  color: rgb(0, 170, 226);
}
.clickable53:hover {
  text-decoration: underline;
}
